@font-face{
  font-family: PenelopeAnne;
  src: url(/ayu/font/penelope.ttf);
}

@font-face{
  font-family: peace;
  src: url(/ayu/font/peach.ttf);
}

#flowerimage{
  position: absolute;
  top: 50px;
  margin-left: 30px;
}

#load-content {
  z-index: 10001;
  background-color: #fff; /* Black w/ opacity */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: relative;
}

#load-box {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.spinner-layer{
  border-color: #C2E0FC;
}

html {
  font-family: peace;
}

#headerdetail{
  font-family: PenelopeAnne;
  text-align: center;
  background-repeat: no-repeat;
  height: 200px;
}

.header{
  top: 0px;
  position: relative;
}

.dropdown-content li>a{
  color: #422B25;
}

#headername{
  margin: 0;
  font-weight: 600;
  font-size: 56px;
  padding: 100px;
}

nav{
  background-color: #f1f4f7;
}

nav ul a{
  color: rgba(0,0,0,0.87);
}

.hide-on-med-and-down{
  margin-left: 200px;
}

.section{
  background-color: #f1f4f7;
}

@media only screen and (max-width: 500px) {

  #flowerimage{
    margin-left: 10px;
  }

  #headername{
    font-size: 45px;
    padding-left: 0px;
  }


  .parallax-container{
    height: 200px;
  }

  .material-icons{
    color: black;
  }
}
